node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# test
coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local
.env
.env.*

# Android folders
/android
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/.settings
android/.project
android/app/.settings
android/app/.project
android/app/debug.keystore
android/app/release.keystore
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/sentry.properties

# IOS folders
/ios
ios/build/
ios/Pods/
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcworkspace/contents.xcworkspacedata
ios/*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/*.xcworkspace/xcuserdata/
ios/DerivedData/
ios/.generated/
ios/Index/
ios/*.pbxuser
ios/!default.pbxuser
ios/*.mode1v3
ios/!default.mode1v3
ios/*.mode2v3
ios/!default.mode2v3
ios/*.perspectivev3
ios/!default.perspectivev3
ios/*.moved-aside
ios/*.xcuserstate
ios/.idea/
ios/.vagrant/
ios/app.dSYM.zip
ios/app.ipa
ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots
ios/fastlane/test_output
ios/*.hmap
ios/*.ipa
ios/*.dSYM.zip
ios/*.dSYM

android/keystores/release.keystore

ios/sentry.properties

# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# The following patterns were generated by expo-cli

expo-env.d.ts
# @end expo-cli

.env.local
